*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color: #212121;
}

.container{
    position: relative;
    color: yellow;
}

.clock{
    width:300px;
    height:300px;
    border-radius: 50%;
    /* background-color: green; */
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;

}
.clock span b{
    transform: rotate(calc(-30deg  *  var(--i)));
    display:inline-block;
    font-size: 20px;
}
.clock::before{
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: white;
}
.hand{
    position: absolute;
    display: flexx;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: 70px;
    border-radius:8px;
}

.hand1 i{
    background-color: red
}
.hand2 i{
    color: greenyellow;
}
.hand3 i{
    color: blue;
}